body{
    background-color: mediumpurple;
    margin: auto;
}

.fond{
    background-color: rebeccapurple;
    text-align: center;
}

.block1{
    background-color:lightseagreen;
    width: 780px;
    height: 300px;
    border: 5px solid black;
    border-radius: 2%;
    margin: 1%;
    float: left;
    text-align: center;
}