body{
    background-color: mediumpurple;
    margin: auto;
}

fond{
    background-color:turquoise;
    text-align: center;
}

block1{
    background-color:lightseagreen;
    width: 380px;
    height: 300px;
    border: 2px solid black;
    border-radius: 2%;
    margin: 1%;
    float: left;
    text-align: center;

}


border1{
    width: 420px;
    height: 60px;
    text-align: center;
    background-color: turquoise;
    margin-left: 4%;
    margin: 5px;
    border-radius: 2px;
    border: 3px solid black;

}


header{
    width: 1200px;
    height: 70px;
    text-align: center;
    background-color:turquoise;
    border-radius: 4px;
    border: 3px solid black;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

}


footer{
    width: 1200px;
    height: 70px;
    text-align: center;
    background-color: turquoise;
    border-radius: 4px;
    border: 3px solid black;
    margin: auto;
    clear: both;

}

img{
    height: 200px;
    width: 250px;
}
